<li class="table-view-cell media riga-stato">
  <a class="navigate-right">
    <p class="nome">{{escapeName name}}</p>
    <img src="img/{{picture}}.png" class="media-object pull-left profile" />
    <div class="media-body dati-foi" >
      <div class="riga">
        <img src="img/emergencies/{{emergencyIconName emergency}}.png" class="icon-list pull-left lista-stato" />
        <p class="testo pull-left testostato">{{emergency}}</p>
      </div>
      <div class="riga">
        <img src="img/distanza.png" class="icon-list pull-left" />
        <p class="testo pull-left"> {{distance}} km from you</p>
      </div>
      <div class="riga">
        <span class=" signal-number pull-left ">{{reportNumber}}</span>
        <p class="testo pull-left">{{emergencyName emergency}} signal, latest at {{formatDate latestUpdate}}</p>
      </div>
    </div>
  </a>
</li>