<ul class="table-view notifica-stato">
  <li class="table-view-cell table-dashboard">
    
		<div class="ui-grid-c">
			<div class="ui-block-a block-nome">
			<p class="nome-notifica">{{nome}}</p>
      <img src="img/{{codice}}.png"class="media-object pull-left profile-notifica ">
		</div>
				<div class="ui-block-b">
      <img src="img/{{stato}}.png" class="notifica-icon c{{cod_emergency}}">
			<img src="img/device.png " class=" notifica-icon deviceimg ">
		  </div>
			<div class="ui-block-c">
				<p class="dispositivo-testo ">{{dispositivo}}</p>
		   </div>
		<div class="ui-block-d">
			<p class="orastato pull-left">time:{{ora_stato}} date:{{data_stato}}</p>
		</div>
		</div>		 
				
			 
      
    </a>
  </li>
	
</ul>