<ul class="table-view table-stato poi-list">
  <li class="table-view-cell media riga-stato">
    <a class="navigate-right">
			<p class="nome">{{nome}}</p>
      <img src="img/{{foto}}.png" class="media-object pull-left profile" />
      <div class="media-body dati-foi" >
					<div class="riga">
					<img src="img/{{icon}}.png" class="lista-icon pull-left lista-stato" />
          <p class="testo pull-left testostato">{{emergency}} </p>
				  </div>
					<div class="riga">
						<img src="img/distanza.png" class="lista-icon pull-left" />
						 <p class="testo pull-left"> {{distanza}} km from you</p>
					</div>
					<div class="riga">
						<span class=" signal-number pull-left ">{{number}} </span>
						 <p class="testo pull-left"> signal, latest at {{ultimo_ora}} {{ultimo_data}}</p>
					</div>
      </div>
    </a>
  </li>
</ul>