<ul class="table-view table-stato foi-list">
  <li class="table-view-cell media riga-stato">
    <a class="navigate-right">
			<p class="nome">{{nome}}</p>
      <img src="img/{{codice}}.png"class="media-object pull-left profile">
      <div class="media-body dati-foi" >
        
				
					<div class="riga">
					<img src="img/{{stato}}.png" class="lista-icon pull-left lista-stato c{{cod_emergency}}">
          <p class="testo pull-left testostato">{{stato}}  {{ora_stato}} {{data_stato}}</p>
				  </div>
					<div class="riga">
						<img src="img/distanza.png" class="lista-icon pull-left ">
						 <p class="testo pull-left">{{distanza}} km from you</p>
					</div>
					<div class="riga">
						<img src="img/device.png" class=" device pull-left  ">
						 <p class="testo pull-left">{{dispositivo}} </p>
					</div>
			 
      </div>
    </a>
  </li>
	
</ul>