ul#statuses {
    margin-top: 43px;
}

li.cell-status {
    height: 60px;
    padding-right: 2px;
}

p.text-status {
    margin-top: 10px;
    color: black;
    vertical-align: middle;
    border: none;
}

li.text-active {
    font-weight: bold;
    font-size: 1.3em;
}

img.icon-status {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

img#Fine {
    border: 4px solid;
    border-color: #00cc00;
    background-color: #00cc00;
}

img#SlightlyWounded {
    border: 4px solid;
    border-color: #e6e600;
    background-color: #e6e600;
}

img#Injured {
    border: 4px solid;
    border-color: #FF9700;
    background-color: #FF9700;
}

img#Trapped {
    border: 4px solid;
    border-color: #F67827;
    background-color: #F67827;
}

img#TrappedAndInjuried {
    font-size: 1.2em;
    border: 4px solid;
    border-color: #ff1a1a;
    background-color: #ff1a1a;
}

li.no-active img.icon-status {
    border-color: #cccccc !important;
    background-color: #cccccc !important;
    border: 2px solid;
}

