body
{
	margin:0px;
	overflow:hidden;
	
}
.mapcontainer{
	height:80%;
}
#map{
height: 100%;
width: 100%;
}

#prova{
	border-top:solid;
	
}

#button_cache{
	height:40px;
	width:40px;
	border-radius: 40px;
    border: 1px solid #000;
	z-index:40;
	border: 2px solid #000;
	position:fixed;
	top:80%;
	left:87%;	
	background-image: url("../img/button_cache.png");
	background-size: 100%;
}
#button_save{
	height:40px;
	width:40px;
	border-radius: 40px;
    border: 1px solid #000;
	z-index:40;
	border: 2px solid #000;
	position:fixed;
	top:70%;
	left:87%;	
	background-image: url("../img/save-icon.png");
	background-size: 100%;
}

