.content-poi{
	margin-top:12px;
	height:calc(100% - 94px)
}
.signal-number{
	width:25px;
	height:25px;
	background-color:hsl(0, 1%, 20%);
	border-radius:50%;
	color:white;
  font-size: 1.2em;
  text-align: center;
}