#signal .title-page {
    height: 50px;
}

#signal .title-text {
    font-size: 1.7em;
    margin-top: 5px;
}

#signal .title {
    color: white;
}

#signal {
    margin-top: 43px;
}

#signal .cell-signal {
    height: 60px;
    padding-right: 2px;
}

#signal .text-signal {
    margin-top: 10px;
    color: black;
}

#signal .icon-block {
    margin-top: -5px;
}

#signal .text-block {
    margin-top: 5px;
}

#signal .icon-signal {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #343232;
    background-color: #343232;
}

#signal .text-active {
    font-weight: bold;
    font-size: 1.3em;
}

#grateful {
    color: black;
    margin-top: 31%;
    margin-left: 25px;
    font-size: xx-large;
}

#signal .send-signal.hidden {
    visibility: hidden;
}

#signal .text-active.text-long {
    margin-top: -5px;
    font-size: 1.1em;
}

#signal .long {
    margin-top: 0;
}

#signal .active img {
    border: 4px solid;
    background-color: #8e0606;
    border-color: #8e0606;
}

#signal .miaposizione {
    font-size: 0.9em;
    color: black;
}

#signal .table-bottom {
    margin-top: 1px;
    margin-bottom: 0;
}

#signal .posizione {
    border-color: #eee;
}

#signal .bottom {
    margin-left: 25%;
    width: 50%;
    position: relative;
    bottom: 30px;
    font-size: 20px;
}

#signal .table-modal {
    margin-bottom: 0 !important;
    border: 0 !important;
}

#signal .dove {
    color: black;
    padding-left: 15px;
}

#signal .ultima {
    margin-bottom: 60px;
}

@media screen and (max-width: 320px) {
    #signal .text-first.active {
        font-size: 1.1em;
    }

    #signal .text-long.active {
        width: 190px;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 321px) {
    #signal .text-med.active {
        margin-top: -8px;
    }

    #signal .text-first {
        margin-top: 10px;
    }

    #text-first.text-active {
        margin-top: -8px;
    }
}
